<h1>Lista de Doenças & Sintomas</h1>

<table>
  <tr>
    <th>Doença</th>
    <th>Sintoma</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @doencasintomas.each do |doencasintoma| %>
  <tr>
    <td><%= doencasintoma.doenca.nomepopular %></td>
    <td><%= doencasintoma.sintoma.descricao %></td>
    <td><%= link_to 'Detalhar', doencasintoma %></td>
    <td><%= link_to 'Editar', edit_doencasintoma_path(doencasintoma) %></td>
    <td><%= link_to 'Excluir', doencasintoma, method: :delete, data: { confirm: 'Deseja excluir?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo', new_doencasintoma_path %>
