<h1>Lista de Sintomas</h1>

<table>
  <tr>
    <th>Descrição</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sintomas.each do |sintoma| %>
  <tr>
    <td><%= sintoma.descricao %></td>
    <td><%= link_to 'Detalhar', sintoma %></td>
    <td><%= link_to 'Editar', edit_sintoma_path(sintoma) %></td>
    <td><%= link_to 'Excluir', sintoma, method: :delete, data: { confirm: 'Deseja excluir?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Sintoma', new_sintoma_path %>
