<h1>Lista de Doencas & Tratamentos</h1>

<table>
  <tr>
    <th>Doença</th>
    <th>Tratamento</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @doencatratamentos.each do |doencatratamento| %>
  <tr>
    <td><%= doencatratamento.doenca.nomepopular %></td>
    <td><%= doencatratamento.tratamento.metodo %></td>
    <td><%= link_to 'Detalhar', doencatratamento %></td>
    <td><%= link_to 'Editar', edit_doencatratamento_path(doencatratamento) %></td>
    <td><%= link_to 'Excluir', doencatratamento, method: :delete, data: { confirm: 'Deseja Excluir?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Doença & Tratamento', new_doencatratamento_path %>
