<p id="notice"><%= notice %></p>

<p>
  <b>Doença:</b>
  <%= @doencatratamento.doenca.nomepopular %>
</p>

<p>
  <b>Tratamento:</b>
  <%= @doencatratamento.tratamento.metodo %>
</p>


<%= link_to 'Edit', edit_doencatratamento_path(@doencatratamento) %> |
<%= link_to 'Back', doencatratamentos_path %>
