<p id="notice"><%= notice %></p>

<p>
  <b>Doença:</b>
  <%= @doencaprevencao.doenca.nomepopular %>
</p>

<p>
  <b>Prevenção:</b>
  <%= @doencaprevencao.prevencao.metodo %>
</p>


<%= link_to 'Editar', edit_doencaprevencao_path(@doencaprevencao) %> |
<%= link_to 'Voltar', doencaprevencaos_path %>
